@font-face {
  font-family: "azonixregular";
  src: url("azonix-webfont.woff2") format("woff2"),
    url("azonix-webfont.otf") format("opentype"),
    url("azonix-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "azonixregular";
  overflow: hidden !important;
  user-select: none;
  text-shadow: 1px 1px 1px #000000;
}

#body {
  display: none;
}

#info {
  display: none;
}

#img {
  display: none;
}

.tablet {
  background-image: url("../images/Tablet.png");
  width: 1280px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  max-width: 1240px;
  width: 1280px;
  height: 100px;
  justify-content: flex-end;
}

.footer {
  display: flex;
  max-width: 1280px;
  width: 1280px;
  margin-top: 450px;
  flex-flow: column-reverse;
  align-items: center;
  position: relative;
  justify-content: center;
}

.btn-close {
  width: 35px;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 15px;
}
.btn-close:hover {
  filter: brightness(1.1);
}

.btn-missao {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.btn-missao:hover {
  filter: brightness(1.1);
}

.info {
  background-image: url("../images/NotifyBrahma.svg");
  width: 399px;
  height: 280px;
  background-size: 400px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  bottom: 120px;
}

#img {
  position: absolute;
  right: 10;
  top: 50;
  width: 32px;
}

.restaurante,
.mercado {
  position: absolute;
  right: 2vw;
  top: 32vh;
}

@media (max-width: 1600px) {
  .restaurante,
  .mercado {
    width: 17rem;
  }
}

@media (max-width: 1200px) {
  .restaurante,
  .mercado {
    top: 28vh;
    width: 15rem;
  }
}

@media (max-width: 800px) {
  .restaurante,
  .mercado {
    top: 26vh;
    width: 13rem;
  }
}
